<!DOCTYPE html>
<html>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />

  <head>
    <title>OneLineDiary</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            
            <a class="navbar-brand" href="/">Top page</a>
            <a class="navbar-brand" href="/index">Your history</a>
            <a class="navbar-brand" href="/new">New diary</a>
          </div>
        </div><!-- /.container-fluid -->
      </nav>
    
    <div class="container">
      <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
    </div>
  </body>
  <!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/6.0.4/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#config-web-app -->

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyDAt5TAplgIluVszIFl4gRZMJsRYSjjS7k",
    authDomain: "myfirstfire-8836f.firebaseapp.com",
    databaseURL: "https://myfirstfire-8836f.firebaseio.com",
    projectId: "myfirstfire-8836f",
    storageBucket: "myfirstfire-8836f.appspot.com",
    messagingSenderId: "736172712765",
    appId: "1:736172712765:web:937772c3aeb1e29c"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
</script>
</html>

